body {
  background-color: yellowgreen;
}

.hidden {
  display: none;
}

#title {
  text-align: center;
}

#sub-title {
  text-align: center;
  background: crimson;
}

.card-text {
  background-color: aqua;
  text-align: center;
}